:root {
    --bg-color: #000000ec;
    --nv-color: #343a40;
    --wtxt-color: #fff;
    --blink-color: antiquewhite;
    --nvtxt-color: #cfd2d6;
    --ngtxt-color: #0c8ff0;
    --sg-color: #0c8ff9;
    --test-color: #000;
    --side-l-color: #000;
    --gry-color: gray;
    --product-color: #343a40;
    --product-p-color: gray;
    --blbg-color: #00000077;
    --demo: aqua;
}
body{
    background: var(--bg-color);
    margin: 0px;
    padding: 0px;
    transition: 1s ease-in-out;
}
a{
    text-decoration: none;
}
#HomePage,#AboutPage,#ApiPage,#DocsPage,#HelpPage,#SearchPage,#AccountPage,#OpenApiPage,#globalSearch{
    display: none;
    width: 100%;
}
#loading{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	background: var(--test-color);
	width: 100%;
	height: 100%;
	text-align: center;
	color: var(--nvtxt-color);
	position: fixed;
	cursor: progress;
}
#loading .head{
	margin-top: 10%;
	font-size: 35px;
	font-weight: bold;
	font-family: sans-serif;
	color: var(--ngtxt-color);
}
#loading footer{
	width: 100%;
	position: absolute;
	bottom: 2%;
	left: 0;
	text-align: center;
    background: transparent;
}
#loading footer h6{
	margin-bottom: 4px;
	font-size: 16px;
}
#loading footer h5{
	color: red;
	font-size: 20px;
	margin: 2px 0px;
}
.loader{
  	display: flex;
  	justify-content: space-around;
  	margin: 10px calc((100% - 70px)/2);
}
.dot{
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background: var(--nv-color);
    animation: blinkAnimation 3s linear infinite;
}
.dot:nth-child(1){
    animation-delay: 0s;
}
.dot:nth-child(2){
    animation-delay: 1s;
}
.dot:nth-child(3){
    animation-delay: 2s;
}
@keyframes blinkAnimation{
    0%, 100%{
    	background-color: var(--nv-color);
    }5%{
        background-color: var(--ngtxt-color);
    }
}
#desktopVision{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    background: #fff;
    color: #000000ec;
    font-family: Consolas, 'Courier New', monospace;
}
#desktopVision .content{
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: #ff9595ae;
    padding: 4px 6px;
    margin: 2px 0px;
    font-weight: bold;
}
#desktopVision .content span i{
    color: red;
}
#desktopVision .content .visionAdd{
    color: #0c4df0;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    cursor: pointer;
}
#blbg{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin: 0%;
    background: var(--blbg-color);
    z-index: 99;
    overflow: none;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: var(--nv-color);
    width: 100%;
    height: auto;
    color: var(--nvtxt-color);
    padding: 8px 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 2s ease-in-out;
}
.hameburger,.downMenu{
    display: none;
    transition: 1s ease-in-out;
}
.hameburger{
    border: 2px solid var(--wtxt-color);
    border-radius: 8px;
    width: 70%;
}
.hameburger div{
    width: 80%;
    background: var(--wtxt-color);
    height: 8%;
    margin: 12% 10%;
    border-radius: 20px;
}
.collapses{
    display: block;
    margin-top: 15px;
}
#left_nav,#right_nav,.collapses ul,.colide ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
#left_nav{
    width: 70%;
}
#right_nav{
    width: 20%;
}
.logo{
    font-size: 24px;
    background: linear-gradient(150deg, blue, #0c8ff0, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    font-weight: bold;
    margin: 8px;
    padding: 0px;
    font-family: sans-serif;
    cursor: pointer;
}
.logo img{
    position: relative;
    width: 100px;
}
.collapses ul li a,.colide ul li a{
    color: var(--nvtxt-color)!important;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0px 20px;
    cursor: pointer;
}
.home{
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}
#p5 a,#pm5 a{
    font-size: 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
}
.sunicon{
    background: linear-gradient(150deg, red,orange,yellow);
    font-size: 20px;
}
.moonicon{
    background: linear-gradient(150deg, blue, #fff);
    font-size: 12px!important;
}
#p6 a{
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    position: relative;
    top: 20px;
    padding: 2px;
    border: 1px solid blueviolet;
    border-radius: 50%;
    cursor: pointer;
}
.right_search,.middle_search{
    margin: 0px;
    padding-top: 5px;
}
.right_search .search-control,.middle_search .search-control{
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #000;
    outline: none;
    padding: 10px 12px;
    margin-right: 8px;
}
.right_search .search-control:hover,.middle_search .search-control:hover{
    box-shadow: 0px 0px 3px 1px var(--ngtxt-color);
    border: 2px solid grey;
}
.right_search .btn,.middle_search .btn{
    border-radius: 8px;
    border: 2px solid var(--ngtxt-color);
    color: var(--ngtxt-color);
    background: transparent;
    font-size: 12px;
    padding: 10px 4px;
}
.right_search .btn:hover,.middle_search .btn:hover{
    color: #fff;
    background: aqua;
}
.middle_search .search-control,.middle_search .btn{
    padding: 8px 6px;
    font-size: 12px;
    outline: none;
}
.downMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #181c36;
    width: 100%;
    height: auto;
    color: var(--nvtxt-color);
    padding: 8px 0px;
    transition: 0.8s ease;
    display: none;
}
.colide ul li a{
    font-size: 12px;
}
#bottom_nav{
    text-align: center;
    margin-bottom: 5px;
}
#HomePage,#ApiPage{
    width: 100%;
    padding: 20px auto;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 80px;
    color: var(--wtxt-color);
}
section h1{
    margin-top: 100px;
    color: grey;
    font-size: 38px;
}
section p{
    line-height: 32px;
    font-size: 22px;
    padding: 2px 20px;
}
section .welbtn{
    width: 50%;
    margin: auto calc((100% - 50%)/2);
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
section div div{
    display: flex;
    flex-direction: column;
}
section div div button{
    background: var(--sg-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 240px;
    border: none;
    border-radius: 5px;
    padding: 8px 4px;
    align-items: center;
    cursor: pointer;
}
section div div button span{
    font-size: 30px;
    font-weight: 800;
}
.support{
    width: 240px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 600;
    color: var(--sg-color);
}
section p a{
    color:var(--sg-color);
}
footer{
    overflow-x: hidden;
    background: var(--nv-color);
    height: auto;
    width: 100%;
    padding: 40px 0 0 0;
    color: var(--nvtxt-color);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transition: 2s ease-in-out;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer img{
    position: relative;
    width: 180px;
    margin: 0px auto;
    margin-bottom: .5rem;
    border: none;
}
.footer p{
    margin: 10px auto;
    line-height: 28px;
    font-size: 18px;
    padding: 2px 40px;
    text-align: justify;
    color: var(--gry-color);
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding: 0px;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #0c8ff0;
}
.footer-copyright{
    background: var(--nv-color);
    width: 100vw;
    padding: 10px 20px 10px 20px;
    border-top: 2px solid var(--gry-color);
    color: var(--gry-color);
}
.footer-copyright p{
    font-size: 14px;
    word-spacing: 2px;
    text-align: center;
    justify-content: center;
}
.footer-copyright p span{
    margin-left: 10%;
}
.side{
    display: flex;
    flex-direction: row;
    margin: auto 0%;
    width: 100%;
}
.side-r{
    width: 80%;
    color: var(--wtxt-color);
    padding: 20px;
    font-family: sans-serif;
    margin: 0px 0px;
}
.side-l{
    background: var(--side-l-color);
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-top: 40px;
}
.side-l button{
    background: transparent;
    color: #f6f6f6;
    border: none;
    border-radius: 5px;
    padding: 8px 4px;
    align-items: center;
    cursor: pointer;
    width: 60%;
    margin: 10px 20%;
    font-size: 22px;
    outline: none;
}
.side-l button:hover,#blink{
    box-shadow: 0px 0px 3px 2px var(--sg-color);
    color: #fff;
}
.side-r #logo1,.side-r #logo3{
    width: 20%;
    margin: 2px calc((100% - 20%)/2);
}
.side-r #logo2{
    width: 30%;
    margin: 2px 35%;
}
.side-r #logo3{
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px 2px var(--ngtxt-color);
}
.side-r p{
    text-align: justify;
    color: grey;
}
.side-r p a,.side-r p o{
    color:var(--sg-color);
    cursor: pointer;
}
.side-r div{
    font-family: Consolas, 'Courier New', monospace;
    background: var(--nv-color);
    padding: 3px;
    width: 80%;
    margin: 10px auto;
    border-radius: 5px;
}
ul{
    list-style: none;
}
.side-r ul li{
    font-size: 18px;
    line-height: 35px;
}
.side-r .scroller{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}
.side-r .scroller .btn{
    width: 5%;
    color: var(--ngtxt-color);
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 25%;
    cursor: pointer;
}
.side-r .scroller .screen{
    width: 90%;
    background: var(--wtxt-color);
    height: 450px;
}
.side-r .scroller .screen img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: none;
}
.depend{
	background: var(--test-color)!important;
	border-left: 1px solid var(--ngtxt-color);
	width: 90%!important;
}
.depend ul{
	padding-left: 4px;
}
.depend o{
	color: var(--ngtxt-color);
	font-weight: bold;
}
#ad0,#ad1,#ad2,#ad3{
	display: none;
}
#HomePage h4::before{
  display: inline-block;
  overflow: hidden;
}
#HomePage h4{
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
}
@keyframes write{
    from{ 
        width: 0px; 
    }to{ 
        width: 30%; 
    }
}
@keyframes blink-caret{
  from, to { border-color: transparent }
  50% { border-color: blueviolet }
}
#h41,#h42,#h43,#h44,#h45{
    display: none;
    color: var(--blink-color);
    margin: 10px auto;
    border-right: .15em solid blue;
    overflow: hidden;
    width: 100%;
    animation: write 5s steps(30, end) infinite,blink-caret 0.5s step-end infinite;
}
#h40{
    width: 200px;
    height: 35px;
    margin: 5px auto;
    background: #352f2fd0;
    border-radius: 50px;
    text-align: left;
}
#h40 span{
    animation: taps 1.2s infinite ease-in;
    position: absolute;
}
@keyframes taps{
    from{
        transform: translateX(0px);
    }to{
        transform: translateX(180px);
    }
}
.searchBox{
    margin: 20px 0px;
    width: 100%;
    background-color: transparent;
    text-align: center;
}
.searchBar{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0px 25%;
    background-color: transparent;
}
.searchSelect,.searchIcon{
    width: 10%;
    padding: 6px 0px;
}
.searchSelect{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #e3e1e1;
    color: #3B1540;
    border: 1px solid #000;
}
.searchSelect select{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 15px;
    width: 100%;
    cursor: pointer;
}
.searchText{
    width: 80%;
    border: 1px solid #000;
    border-radius: 0px;
}
.searchText input{
    outline: none;
    width: 100%;
    height: 100%;
    padding: 2px 8px;
    border: none;
}
.searchIcon{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(47deg, #0c8ff0, #f6f6f6);;
    border: 1px solid #000;
    cursor: pointer;
}
.search-product-data,.search-user-data{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0%;
}
.drop,.drops{
    width: 30%;
    margin: 0px;
    display: list-item;
}
.drops{
    width: 100%;
    margin: 0px;
}
.addApiFloat{
    position: absolute;
    top: 14%;
    right: 2%;
    width: auto;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px var(--wtxt-color);
    border-radius: 0.25rem;
    transition: 1s ease-in-out;
}
.shareApiFloat{
    position: fixed;
    top: 90%;
    right: 2%;
    width: auto;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px var(--wtxt-color);
    border-radius: 0.25rem;
    transition: 1s ease-in-out;
}
.product{
    width: 100%;
    margin: 20px auto;
    background: var(--product-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: 2s ease-in-out;
}
.product:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px #b7d2ee;
    transform: translateY(-10px);
}
.product-component-top{
    margin: 0%;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    background: url('../img/Api-thumbnail003.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.product-component-top .product-price{
    width: 90px;
    height: 24px;
    padding: 2px 4px;
    border-radius: 8px;
    color: var(--wtxt-color);
    font-size: 14px;
    font-family: sans-serif;
    background: var(--bg-color);
    position: relative;
    top: 10px;
    left: 75%;
    transition: 2s ease-in-out;
}
.product-component-middle{
    margin: 0%;
    width: 100%;
    height: 50%;
    padding: 8px 10px;
    padding-bottom: 2px;
}
.product-component-middle .product-headline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-component-middle .product-headline .product-dp{
    font-weight: bold;
    width: 20px;
    height: 20px;
    margin: auto 0px;
    font-size: 14px;
    background: violet;
    border-radius: 50%;
    color: var(--wtxt-color);
}
.product-component-middle .product-headline .product-head{
    font-weight: bold;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--wtxt-color);
    width: 90%;
    height: 28px;
    max-height: 28px;
    text-align: left;
    margin: auto 0px;
    overflow: hidden;
}
.product-component-middle .product-description{
    font-size: 14px;
    text-align: justify;
    color: var(--product-p-color);
    font-family: sans-serif;
    height: calc(14px * 6);
    max-height: calc(14px * 6);
    overflow: hidden;
}
.product-component-middle .product-owner{
    width: 100%;
    text-align: left;
    color: var(--blink-color);
    font-family: sans-serif;
    margin: 4px;
}
.product-component-bottom{
    margin: 0%;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 0px;
    padding-top: 2px;
    font-size: 16px;
    font-family: Consolas, 'Courier New', monospace;
}
.product-component-bottom .product-info{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.product-component-bottom .product-info i{
    margin: auto 4px;
}
.docs-content{
    width: 95%;
    margin: 10px auto;
    padding: 0px;
}
.docs-content h2,#HelpPage .searchBox h2{
    color: var(--ngtxt-color);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 0px;
    margin: 2px 0px;
}
.docs-content h4{
    color: var(--wtxt-color);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    margin: 2px 0px;
}
.docs-content p{
    color: var(--gry-color);
    font-size: 15px;
    font-weight: 600;
    padding: 0 4px;
    line-height: 18px;
    text-align: justify;
}
#HelpPage .searchBox{
    background: url('../img/Helpbanner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    padding: 40px 0px;
    z-index: -2;
}
#HelpPage .searchBox h2{
    color: red;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
}
#HelpPage .searchText,#HelpPage .searchText input{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#HelpPage .searchText:hover{
    box-shadow: 0px 0px 3px 1px var(--ngtxt-color);
    border: 2px solid grey;
}
#HelpPage .searchText input{
    padding: 5px 12px;
}
.flo,.flx{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flw{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-help-component{
    width: 50%;
    transition: 1s ease-in-out;
}
.left-help-component h2{
    text-align: center;
    color: var(--ngtxt-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin: 20px 0px 4px 0px;
}
.left-help-component .help-comment-box{
    width: 70%;
    margin: 4px auto;
}
.left-help-component .help-comment-box lable{
    color: var(--wtxt-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-help-component .help-comment-box lable div{
    color: var(--gry-color);
    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}
.left-help-component .help-comment-box input{
    text-transform: capitalize;
}
.left-help-component .help-comment-box textarea{
    max-height: 120px;
    height: 120px;
    min-height: 120px;
}
.right-help-component{
    width: 50%;
    padding: 40px 0px;
}
.right-help-component-box{
    width: 45%;
    border: 2px solid green;
    border-radius: 5px;
    margin: 20px 0px;
    padding: 5px 0px;
    transition: 1s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.right-help-component-box-icon{
    width: 30%;
}
.right-help-component-box-icon i{
    text-align: center;
    margin: auto 0px;
    font-size: 20px;
}
.right-help-component-box-info{
    width: 70%;
    font-family: sans-serif;
}
.right-help-component-box-info h5{
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}
.right-help-component-box-info p{
    font-size: 12px;
    padding: 0% 4px 0px 0px;
    margin: 0%;
    line-height: 16px;
    color: var(--wtxt-color);
    text-align: justify;
}
.faq-help{
    width: 100%;
    margin: 10px 0%;
    padding: 5px 6%;
}
.faq-help h2{
    color: var(--ngtxt-color);
    font-size: 18px;
    font-weight: 800;
    font-family: serif;
}
.layout{ 
    width: 100%; 
    margin: 0px; 
} 
.accordion{ 
    padding: 10px; 
    background: #f6f6f6;
    margin: 10px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px gray;
    transition: 1s ease-in-out;
} 
.accordion__question p{ 
    margin: 5px; 
    padding: 0; 
    font-family: Verdana; 
    font-size: 14px; 
    color: #3B1540;
    font-weight: bold;
} 
.accordion__answer p,.accordion__answer ol{ 
    margin: 5px; 
    padding: 10px; 
    font-size: 14px;
    font-family: sans-serif;
    line-height: 18px;
    color: grey; 
    background: #fff; 
    border-radius: 10px; 
    text-align: justify;
    cursor: text;
} 
.accordion:hover{ 
    cursor: pointer; 
} 
.accordion__answer{ 
    display: none; 
}
.accordion.active .accordion__answer{ 
    display: block;
}
.accordion__answer ol{
    margin: 10px 5px;
    padding: 10px 30px;
}
.accordion__answer p a{
    color: var(--ngtxt-color);
    cursor: pointer;
}
#OpenApiPage,#portfolioPage{
    width: 100%;
    padding: 20px auto;
    font-family: sans-serif;
    margin-bottom: 80px;
    color: var(--wtxt-color);
    transition: 1s ease-in-out;
}
#OpenApiPage .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
}
#OpenApiPage .header .header-left{
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#OpenApiPage .header .header-left .header-left-left-componet{
    width: 20%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
#OpenApiPage .header .header-left .header-left-left-componet span{
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 50%;
    background: gray;
    padding-top: 8px;
}
#OpenApiPage .header .header-left .header-left-right-componet{
    width: 80%;
    display: flex;
    flex-direction: column;
}
#OpenApiPage .header .header-left .header-left-right-componet .header-left-right-componet-upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 0px;
}
#OpenApiPage .header .header-left .header-left-right-componet .header-left-right-componet-upper h3{
    font-size: 18px;
    font-weight: bold;
    color: var(--wtxt-color);
    margin: auto 0px;
    max-height: 25px;
    overflow: hidden;
}
#OpenApiPage .header .header-left .header-left-right-componet .header-left-right-componet-upper .cost{
    background: var(--nv-color);
    color: #fff;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 4px;
}
#OpenApiPage .header .header-left .header-left-right-componet .header-left-right-componet-bottom{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    color: var(--blink-color);
}
#OpenApiPage .header .header-left .header-left-right-componet .header-left-right-componet-bottom #header-api-owner{
    max-width: 30%;
    max-height: 16px;
    word-wrap: break-word;
    overflow: hidden;
}
#OpenApiPage .header .header-rigth{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
}
#OpenApiPage .header .header-rigth .header-rigth-component .header-rigth-component-upper{
    font-size: 14px;
    color: var(--gry-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#OpenApiPage .header .header-rigth .header-rigth-component .header-rigth-component-upper i{
    margin: auto 4px;
}
#OpenApiPage .header .header-rigth .header-rigth-component .header-rigth-component-bottom{
    font-size: 16px;
    font-family: Consolas, 'Courier New', monospace;
    color: var(--wtxt-color);
    text-align: center;
}
#OpenApiPage .headerDivider{
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 0;
    margin: 5px 0px;
}
#OpenApiPage .headerDivider .divider-name{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#OpenApiPage .headerDivider .divider-name .divider-name-component{
    width: calc((100% / 5));
    padding: 5px 0px;
    font-size: 14px;
    font-weight: 600;
    color: var(--ngtxt-color);
    text-align: center;
}
#OpenApiPage .headerDivider .divider-name .divider-name-component:hover{
    border-bottom: 1px solid var(--ngtxt-color);
    cursor: pointer;
}
#OpenApiPage .middleBody{
    width: 100%;
    margin: 10px 0px;
}
#OpenApiPage .middleBody .middleBody-component{
    width: 100%;
    display: none;
}
#linkBox{
    display: none;
}
.link-area{
    width: 60%;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 0px 20%;
    position: absolute;
    top: 30%;
    left: 0%;
    z-index: 99;
    transition: 1s ease-in-out;
}
.link-area .card-header{
    font-size: 18px;
    font-weight: bold;
    color: #3B1540;
}
.link-area .card-body .card-title{
    font-size: 16px;
    margin: 5px 0px;
}
.link-area .card-body .card-text{
    font-size: 14px;
    padding: 2px 6px;
}
.link-area .card-footer .btn{
    width: 30%;
    position: relative;
    left: 70%;
    top: 0%;
}
.link-area .card-body .custom-file-label::after{
    content: "Copy";
    cursor: pointer;
}
.link-area .card-body .flo{
    width: 40%;
}
.link-area .card-body .flo .fa{
    font-size: 18px;
    background: grey;
    border-radius: 5px;
    padding: 8px 10px;
    color: #fff;
    cursor: pointer;
}
.link-area .card-body .flo .fa-whatsapp{
    background: linear-gradient(123deg, #25d366, #128c7e);
}
.link-area .card-body .flo .fa-facebook{
    background: linear-gradient(123deg, #3b5998, #4267b2);
}
.link-area .card-body .flo .fa-linkedin-square{
    background: linear-gradient(135deg, #0077b5, #005e92);
}
.link-area .card-body .flo .fa-instagram{
    background: linear-gradient(45deg, #833ab4, #e1306c, #fd1d1d, #fdcb52);
}
#OpenApiPage .middleBody #middleEnd .littleAbout{
    display: flex;
    flex-direction: row;
    font-size: 15px;
}
#OpenApiPage .middleBody #middleEnd .littleAbout .littleAboutApi{
    width: auto;
    max-width: 75%;
    max-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 2px 5px 2px 10px;
    word-wrap: break-word;
    white-space: nowrap;
}
#OpenApiPage .middleBody #middleEnd .littleAbout .moreAboutApi{
    width: auto;
    color: blue;
    min-height: 30%;
    overflow: hidden;
    padding: 2px 4px;
    cursor: pointer;
}
#OpenApiPage .middleBody #middleEnd .api-version{
    width: 100%;
    background: var(--product-color);
    padding: 6px 10px;
    margin: 8px 0px 0px 0px;
    border-bottom: 1px solid var(--gry-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 1s ease-in-out;
}
#OpenApiPage .middleBody #middleEnd .api-version select{
    width: 250px;
    font-size: 12px;
    font-weight: bold;
    background: gray;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 1s ease-in-out;
}
#OpenApiPage .middleBody .api-dualVision{
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: 1s ease-in-out;
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-left{
    width: 50%;
    border-right: 2px solid var(--gry-color);
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-right{
    width: 50%;
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    background: var(--product-color);
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-head div{
    color: green;
    font-weight: bold;
    padding: 4px 0px;
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-right .api-dualVision-right-head{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0px 6px;
    background: var(--product-color);
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-right .api-dualVision-right-head .api-dualVision-right-head-comonent{
    padding: 14px 6px;
    margin-right: 15px;
    cursor: pointer;
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body,#OpenApiPage .middleBody .api-dualVision .api-dualVision-right .api-dualVision-right-body{
    width: 100%;
    padding: 15px 0px 4px 0px;
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body .form-group{
    display: flex;
    flex-direction: row;
    margin: 4px 0px;
    padding: 0px 6px;
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body .form-group label{
    width: 30%;
    padding: 10px 2px;
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body .form-group input{
    background: var(--product-color);
    color: var(--wtxt-color);
    width: 70%;
    transition: 1s ease-in-out;
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body .api-dualVision-left-body-divider{
    width: 100%;
    background: var(--product-color);
    color: var(--gry-color);
    padding: 5px 10px;
    margin: 10px 0px;
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body #reqParams .form-group ul,#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body #optParams .form-group ul,#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body #agentList .form-group ul{
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body #reqParams .form-group ul li,#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body #optParams .form-group ul li,#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body #agentList .form-group ul li{
    margin: 4px;
    width: auto;
    max-width: 100%;
    min-width: 0px;
    transition: 1s ease-in-out;
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body #optParams .form-group ul li{
    width: 100%;
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body code{
    padding: 2px 8px;
    font-weight: bold;
    width: 100%;
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-right .api-dualVision-right-body .form-group select{
    width: 40%;
    background: var(--product-color);
    color: var(--wtxt-color);
    margin: 4px 8px;
    cursor: pointer;
    transition: 1s ease-in-out;
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-right .api-dualVision-right-body{
    display: none;
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-right .api-dualVision-right-body .api-dualVision-right-body-component{
    width: 100%;
    padding: 4px 8px;
    display: none;
}
#OpenApiPage .middleBody .api-dualVision .api-dualVision-right .api-dualVision-right-body .api-dualVision-right-body-component .code-editor{
    margin-bottom: 20px;
}
#OpenApiPage .middleBody #middleAbout p,#OpenApiPage .middleBody #middleTutorial p,#OpenApiPage .littleTutorial p{
    padding: 4px 10px;
    font-size: 14px;
    text-align: justify;
    color: var(--wtxt-color);
    margin: 0px;
    transition: 1s ease-in-out;
}
#OpenApiPage .littleTutorial{
    background: var(--product-color);
    width: 100%;
    margin: 0px 0px 0px 0px;
    border-top: 1px solid var(--gry-color);
    transition: 1s ease-in-out;
}
#OpenApiPage .littleTutorial span{
    color: var(--ngtxt-color);
    cursor: pointer;
}
#OpenApiPage .api-feedback{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}
#OpenApiPage .api-feedback .left-api-feedback,#OpenApiPage .api-feedback .right-api-feedback{
    width: 50%;
    padding: 4px 8px;
}
#OpenApiPage .api-feedback .left-api-feedback #viewer-message{
    height: 180px;
    max-height: 180px;
    min-height: 180px;
    transition: 1s ease-in-out;
}
#OpenApiPage .api-feedback .left-api-feedback .star-widget{
    position: relative;
    width: 30%;
    height: 54px;
    margin: 0px auto;
    display: flex;
    flex-direction: row-reverse;
    transition: 1s ease-in-out;
}
#OpenApiPage .api-feedback .left-api-feedback .star-widget input{
    display: none;
}
#OpenApiPage .api-feedback .left-api-feedback .star-widget label{
    font-size: 30px;
    color: #444;
    padding: 10px;
    float: right;
    justify-content: left;
    transition: all 0.2s ease;
}
#OpenApiPage .api-feedback .left-api-feedback input:not(:checked) ~ label:hover,
#OpenApiPage .api-feedback .left-api-feedback input:not(:checked) ~ label:hover ~ label{
    color: #ffdd44;
}
#OpenApiPage .api-feedback .left-api-feedback input:checked ~ label{
    color: #ffdd44;
}
#OpenApiPage .api-feedback .left-api-feedback input#rate-5:checked ~ label{
    color: yellow;
    text-shadow: 0 0 4px orange;
}
#OpenApiPage .api-feedback .left-api-feedback #rate-1:checked ~ header:before{
    content: "63f321gl@dQh1";
}
#OpenApiPage .api-feedback .left-api-feedback #rate-2:checked ~ header:before{
    content: "m8#aiT1o4jr2";
}
#OpenApiPage .api-feedback .left-api-feedback #rate-3:checked ~ header:before{
    content: "K3nw$Qlf8vb3";
}
#OpenApiPage .api-feedback .left-api-feedback #rate-4:checked ~ header:before{
    content: "0d!fGke2si4";
}
#OpenApiPage .api-feedback .left-api-feedback #rate-5:checked ~ header:before{
    content: "p2&fi4Le2dY5";
}
#OpenApiPage .api-feedback .left-api-feedback #viewer-star{
    display: none;
}
#OpenApiPage .api-feedback .right-api-feedback h4{
    font-size: 16px;
    font-weight: bold;
    color: var(--ngtxt-color);
    margin: 20px 0px 0px 10px;
}
#OpenApiPage .api-feedback .right-api-feedback iframe{
    position: relative;
    width: 60%;
    height: 250px;
    margin: auto auto;
    border-radius: 10px;
    overflow: none;
}
#OpenApiPage .middleBody .videoRack{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 420px;
    margin: 40px auto;
}
#OpenApiPage .middleBody .videoRack .mainVideo{
    width: 70%;
    display: none;
}
#OpenApiPage .middleBody .videoRack .secondaryVideo{
    width: 30%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#OpenApiPage .middleBody .videoRack .mainVideo iframe{
    width: 80%;
    height: 400px;
    max-height: 300px;
    border-radius: 10px;
    margin: 50px auto;
    background: var(--gry-color);
    overflow: hidden;
    transition: 1s ease-in-out;
}
#OpenApiPage .middleBody .videoRack .secondaryVideo .video iframe{
    width: 70%;
    height: 70%;
    max-height: 70%;
    border-radius: 10px;
    margin: auto auto;
    background: var(--gry-color);
    overflow: hidden;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.svideo1,.svideo2,.svideo3{
    display: none;
}
.search-not-found{
    width: 100%;
    padding: 20px 10px;
    text-align: center;
    display: none;
    transition: all 1s ease-in-out;
}
.search-not-found .error i{
    font-size: 80px;
    color: red;
    margin-bottom: 10px;
}
.search-not-found .error h4{
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: Consolas, 'Courier New', monospace;
}
.search-not-found .error h3{
    font-size: 16px;
    font-family: sans-serif;
    color: var(--wtxt-color);
}
.search-not-found .error img{
    width: 200px;
    margin: 2px auto;
    transition: 1s ease-in-out;
}
.search-not-found .error p{
    font-size: 14px;
    font-family: sans-serif;
    color: var(--gry-color);
    text-align: center;
}
#AccountPage{
    width: 100%;
    padding: 20px 0px;
    color: var(--wtxt-color);
    transition: 1s ease-in-out;
}
#AccountPage .accountBox{
    width: 50%;
    margin: 20px auto;
    background: var(--product-color);
    border-radius: 20px;
    padding: 10px;
    transition: 1s ease-in-out;
}
#AccountPage .accountBox .icon{
    width: 120px;
    font-size: 120px;
    color: #3B1540;
    position: relative;
    top: -40px;
    left: 0px;
    text-align: center;
    border-radius: 50%;
    margin: 0px auto;
    background: var(--bg-color);
    transition: 1s ease-in-out;
}
#AccountPage .accountBox .info{
    margin-top: -20px;
}
#AccountPage .accountBox .info form lable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#AccountPage .accountBox .info form lable span{
    position: relative;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
#AccountPage .accountBox .info form input,#AccountPage .accountBox .info form input::placeholder{
    background: var(--bg-color);
    color: var(--gry-color);
    font-weight: bold;
    font-family: sans-serif;
    text-transform: capitalize;
}
#AccountPage .accountBox .info form small{
    text-align: justify;
}
#AccountPage .accountBox .flo{
    margin-bottom: 20px;
}
#AccountPage .accountBox .notice{
    text-align: center;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--wtxt-color);
}
#AccountPage .flo .btn{
    width: 40%;
    font-size: 16px;
}
#nameEditPopUp{
    display: none;
}
#accountName{
    background: #fff;
    border-radius: 5px;
    border: 0.5px solid var(--wtxt-color);
    width: 335px;
    margin: 0px calc((100% - 335px) / 2);
    position: absolute;
    top: 40%;
    left: 0%;
    padding: 10px 10px;
    z-index: 99;
    transition: 1s ease-in-out;
}
#accountName input{
    width: 100%;
    margin: 8px 0px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 3px 6px;
    outline: none;
}
#accountName #nEeM{
    text-align: justify;
    width: 100%;
    font-size: 12px;
    font-family: monospace;
    color: var(--gry-color);
    margin: 2px 0px 8px 0px;
}
#accountName .btn-holder{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
#accountName .btn{
    width: auto;
    margin-right: 5px;
}
#badLinkHit{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: var(--bg-color);
    z-index: 99;
    display: none;
}
#badLinkHit .search-not-found{
    display: block;
    margin-top: 10%;
}
#globalSearch{
    width: 35%;
    max-height: 600px;
    position: absolute;
    top: 10%;
    right: 2%;
    background: var(--product-color);
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px #000;
    overflow: hidden;
    z-index: 99;
    display: none;
    justify-content: space-around;
    transition: 1s ease-in-out;
}
#globalSearch #userSearch,#globalSearch #apiSearch{
    width: 100%;
    margin: 10px 0px;
}
#globalSearch #closeSearch{
    color: var(--wtxt-color);
    font-size: 20px;
    font-weight: 800;
    text-align: right;
    margin-right: 4px;
    cursor: pointer;
}
#globalSearch #userSearch ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 2px;
    overflow-x: scroll;
}
#globalSearch #userSearch ul li{
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    margin: 10px 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4px 0px;
    transition: 1s ease-in-out;
    cursor: pointer;
}
#globalSearch #userSearch ul li .user-left{
    width: 20%;
}
#globalSearch #userSearch ul li .user-left span{
    width: 35px;
    height: 35px;
    margin: auto;
    border-radius: 50%;
    background: gray;
    padding-top: 6px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    color: var(--wtxt-color);
}
#globalSearch #userSearch ul li .user-right{
    width: 75%;
    display: flex;
    flex-direction: column;
}
#globalSearch #userSearch ul li .user-right .user-right-upper{
    margin: 0px;
    color: var(--wtxt-color);
    font-weight: 600;
    font-family: sans-serif;
    font-size: 14px;
}
#globalSearch #userSearch ul li .user-right .user-right-lower{
    margin: 0px;
    color: var(--blink-color);
    font-family: serif;
    font-size: 12px;
}
#globalSearch #apiSearch ul{
    width: 100%;
    max-height: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0% 0px 0px;
    margin: 0px;
    overflow: hidden;
}
#globalSearch #apiSearch ul li{
    width: 40%;
    margin: 0px 0px 20px 0px;
    display: list-item;
    box-shadow: 0px 0px 4px 1px #000;
    border-radius: 10px;
    padding: 4px 0px;
    transition: 1s ease-in-out;
    cursor: pointer;
}
#globalSearch #apiSearch ul li .api-upper,#globalSearch #apiSearch ul li .api-lower{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
#globalSearch #apiSearch ul li .api-upper .api-upper-left{
    width: 10%;
}
#globalSearch #apiSearch ul li .api-upper .api-upper-left span{
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 50%;
    background: gray;
    padding: 2px 0px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: var(--wtxt-color);
}
#globalSearch #apiSearch ul li .api-upper .api-upper-right{
    width: 80%;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: var(--wtxt-color);
    max-height: 22px;
    overflow: hidden;
}
#globalSearch #apiSearch ul li .api-middle,#globalSearch #apiSearch ul li .api-lower{
    width: 100%;
    padding: 2px;
}
#globalSearch #apiSearch ul li .api-middle p{
    font-size: 12px;
    text-align: justify;
    color: var(--gry-color);
    padding: 2px;
    margin: 0px;
    line-height: 18px;
    word-wrap: break-word;
    max-height: 60px;
    overflow: hidden;
}
#globalSearch #apiSearch ul li .tags{
    display: none;
}
#globalSearch #apiSearch ul li .api-lower div{
    font-size: 12px;
    font-weight: 800;
    font-family: Consolas, 'Courier New', monospace;
    text-transform: capitalize;
    color: var(--blink-color);
    width: 45%;
    max-height: 18px;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#globalSearch #apiSearch ul li .api-lower div i{
    margin: auto 0px;
}
#globalSearch #apiSearch .loadmore{
    width: 100%;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: var(--ngtxt-color);
    cursor: pointer;
}
#globalSearch #pageSearch ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 2px 4px 10px;
    margin-bottom: 20px;
}
#globalSearch #pageSearch ul li{
    width: 30%;
    font-size: 16px;
    color: var(--wtxt-color);
    cursor: pointer;
}
#globalSearch #pageSearch ul li:hover{
    color: blue;
    text-decoration: underline;
    transition: 1s ease-in-out;
}
#globalSearch #missSearch{
    width: 100%;
    display: none;
}
#globalSearch #missSearch img{
    width: 200px;
    margin: 80px calc((100% - 200px) / 2);
    position: relative;
    transition: 1s ease-in-out;
}
#errorModel{
    display: none;
    background: #00000097;
    transition: 1s ease-in-out;
}
.fade:not(.show) {
    opacity: 1;
}
#errorModel .modal-dialog{
    position: relative;
    width: auto;
    margin: 30% auto;
    pointer-events: none;
    transition: transform .3s ease-out;
}
#errorModel .modal-title{
    color: red;
    font-family: Consolas, 'Courier New', monospace;
}
#errorModel .model-body{
    text-align: justify;
}
#portfolioPage{
    width: 60%;
    margin: 30px auto;
    padding: 10px 5px;
    font-family: sans-serif;
}
#portfolioPage .user-dp span{
    width: 85px;
    height: 85px;
    background: green;
    color: var(--wtxt-color);
    font-weight: bold;
    font-size: 30px;
    border-radius: 50%;
    margin: auto;
    padding-top: calc((85px / 5));
}
#portfolioPage .user-name{
    font-size: 24px;
    font-weight: bold;
    color: var(--wtxt-color);
}
#portfolioPage .user-package{
    font-size: 20px;
    width: 5%;
    padding: 4px;
    color: blueviolet;
    cursor: pointer;
}
#portfolioPage .user-info{
    padding: 6px 0px;
    width: 85%;
}
#portfolioPage .user-info .flo span{
    width: 33%;
    text-align: left;
    font-size: 16px;
}
#portfolioPage .btn-group .btn{
    width: 120px;
    margin: 14px 8px;
}
@media only screen and (max-width: 900px){
    #loading .head{
        margin-top: 45%;
    }
    .flx{
        flex-direction: column;
    }
    .logo{
        font-size: 16px;
    }
    #left_nav{
        width: 80%;
    }
    #right_nav{
        width: 18%;
    }
    .hameburger{
        display: block;
        height: 32px;
        overflow: hidden;
    }
    .hameburger:hover{
        box-shadow: 0px 0px 3px 2px var(--bg-color);
    }
    .collapses,.right_search,.downMenu,#p6{
        display: none;
    }
    .colide ul{
    	padding: 0px;
        justify-content: space-around;
    }
    .colide ul li a{
        margin: 0px 0px;
    }
    section h1{
        font-size: 24px;
        margin-top: 80px;
    }
    section h3{
        font-size: 22px;
    }
    section h4{
        font-size: 18px;
    }
    section p{
        line-height: 22px;
        font-size: 14px;
        padding: 2px 30px;
    }
    section .welbtn div{
        width: 80%;
        margin: auto 10%;
    }
    section .welbtn{
        width: 50%;
        margin: auto calc((100% - 100%)/2.1);
    }
    section div div button{
        font-size: 8px;
        width: 160px;
        padding: 8px 10px;
    }
    section div div button span{
        font-size: 14px;
    }
    .support{
        width: 160px;
        font-size: 7px;
    }
    .side{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .side-l,.side-r{
        width: 100%;
        margin: 0px 0px;
    }.side-l{
    	padding: 10px 0px;
    }.side-r{
        width: 100%;
        padding: 20px 0px;
    }
    .side-r #logo1,.side-r #logo3{
        width: 60%;
        margin: 2px calc((100% - 60%)/2);
        display: none;
    }
    .side-r #logo2{
    	width: 80%;
        margin: 2px 10%;
        display: none;
    }
    .side-r .scroller{
        width: 80%;
    }
    .side-r .scroller .btn{
        width: 5%;
        padding-left: 0px;
    }
    .side-r .scroller .screen{
        width: 85%;
        height: 180px;
    }
    .side-r h3{
    	padding: 2px 10px!important;
    }
    .side-r p{
    	padding: 2px 20px!important;
    }
    .side-l button{
        padding: 8px 6px;
        width: 80%;
        margin: 10px 10%;
        font-size: 16px;
    }
    .side-r ul li{
        font-size: 16px;
    }
    #h41,#h42,#h43,#h44,#h45{
        margin: 0px auto;
    }
    #h40{
        width: 100px;
        height: 30px;
        margin: 0px auto;
    }
    @keyframes taps{
        from{
            transform: translateX(0px);
        }to{
            transform: translateX(90px);
        }
    }
    @keyframes write{
        from{ 
            width: 0px; 
        }to{ 
            width: 100%; 
        }
    }
    .footer p{
        font-size: 14px;
    }
    .searchBar{
        width: 90%;
        margin: 0px 5%;
        overflow: hidden;
    }
    .searchSelect select{
        font-size: 12px;
    }
    .searchSelect,.searchIcon{
        width: 12%;
        margin: 0px;
    }
    .searchText{
        width: 76%;
        margin: 0px;
    }
    .search-product-data{
        margin: auto 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0%;
    }
    .drop{
        width: 100%;
    }
    .addApiFloat{
        position: absolute;
        top: 80%;
        right: 2%;
        position: fixed;
    }
    .product{
        width: 90%;
        margin: 20px 5%;
    }
    .product-component-middle .product-headline,.product-component-middle .product-description{
        margin: 0px;
        width: 100%;
    }
    .product-component-top .product-price{
        position: relative;
        left: 70%;
        margin: 0%;
    }
    #helpPage .searchBar{
        width: 100%;
        margin: 0px;
    }
    #HelpPage .searchText{
        margin: 0px 0px 0px 5%;
    }
    .help-component{
        display: flex;
        flex-direction: column;
    }
    .left-help-component .help-comment-box{
        width: 90%;
    }
    .left-help-component,.right-help-component{
        width: 100%;
        margin: auto 0%;
    }
    .right-help-component-box-icon i{
        font-size: 16px;
    }
    .right-help-component-box-info h5{
        font-size: 14px;
    }
    .right-help-component-box-info p{
        font-size: 10px;
        line-height: 14px;
    }
    #OpenApiPage .header{
        display: flex;
        flex-direction: column;
        padding: 15px 8px;
    }
    #OpenApiPage .header .header-left{
        width: 100%;
        margin-bottom: 10px;
    }
    #OpenApiPage .header .header-rigth{
        width: 100%;
        margin-bottom: 10px;
    }
    #OpenApiPage .header .header-left .header-left-right-componet .header-left-right-componet-upper h3{
        font-size: 15px;
        max-height: 20px;
        overflow: hidden;
    }
    #OpenApiPage .header .header-left .header-left-right-componet .header-left-right-componet-bottom{
        width: 100%;
        font-size: 12px;
    }
    #OpenApiPage .header .header-rigth .header-rigth-component .header-rigth-component-upper{
        font-size: 10px;
    }
    #OpenApiPage .header .header-rigth .header-rigth-component .header-rigth-component-bottom{
        font-size: 12px;
    }
    #OpenApiPage .headerDivider .divider-name{
        width: 90%;
    }
    .link-area{
        width: 90%;
        margin: 0px 5%;
    }
    .link-area .card-body .custom-file label{
        overflow: hidden;
    }
    .link-area .card-body .flo{
        width: 80%;
    }
    #OpenApiPage .middleBody .api-dualVision{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    #OpenApiPage .middleBody .api-dualVision .api-dualVision-left,#OpenApiPage .middleBody .api-dualVision .api-dualVision-right{
        width: 100%;
        border: none;
    }
    #OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body .form-group{
        display: flex;
        flex-direction: column;
    }
    #OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body .form-group input,#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body .form-group label{
        width: 100%;
    }
    #OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body #reqParams .form-group ul li,#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body #optParams .form-group ul li,#OpenApiPage .middleBody .api-dualVision .api-dualVision-left .api-dualVision-left-body #agentList .form-group ul li{
        margin: 4px;
        width: 100%;
    }
    #OpenApiPage .api-feedback{
        display: flex;
        flex-direction: column;
    }
    #OpenApiPage .api-feedback .left-api-feedback,#OpenApiPage .api-feedback .right-api-feedback{
        width: 100%;
    }
    .star-widget{
        width: 75%;
    }
    #OpenApiPage .api-feedback .left-api-feedback #viewer-rate{
        width: 80%;
        margin: 0px auto;
    }
    #OpenApiPage .api-feedback .right-api-feedback iframe{
        width: 95%;
        height: 200px;
        margin-top: 20px;
    }
    .search-not-found .error p{
        text-align: justify;
        padding: 0px 2px;
    }
    #OpenApiPage .middleBody .videoRack{
        display: flex;
        flex-direction: column;
        max-height: 420px;
        margin: 40px 0px;
    }
    #OpenApiPage .middleBody .videoRack .mainVideo{
        width: 100%;
        height: calc(400px / 2);
        max-height: calc(320px / 2);
    }
    #OpenApiPage .middleBody .videoRack .secondaryVideo{
        width: 100%;
        height: calc(400px / 2);
        max-height: calc(400px / 2);
        display: flex;
        flex-direction: row;
        margin-top: 40px;
    }
    #OpenApiPage .middleBody .videoRack .mainVideo iframe{
        width: 95%;
        height: 100%;
        margin: 10px auto;
    }
    #OpenApiPage .middleBody .videoRack .secondaryVideo .video iframe{
        width: 90%;
        height: 30%;
        border-radius: 10px;
        margin: 0px auto;
        background: var(--gry-color);
        overflow: hidden;
    }
    #AccountPage .accountBox{
        width: 90%;
    }
    #accountName{
        width: 90%;
        margin: 0px 5%;
    }
    #globalSearch{
        width: 94%;
        max-height: 840px;
        position: absolute;
        top: 25%;
        right: 3%;
    }
    #globalSearch #apiSearch ul{
        max-height: 560px;
    }
    #globalSearch #apiSearch ul li{
        width: 90%;
        min-height: 122px;
    }
    #globalSearch #pageSearch ul li{
        width: 50%;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1023px){
    #desktopVision{
        display: block;
    }
    #HomePage,#AboutPage,#ApiPage,#HelpPage,#SearchPage,#AccountPage{
        opacity: 0;
    }
}